html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.bold {
    font-weight: bold;
}

.header {
  display: flex; /* Enable Flexbox */
  justify-content: space-between; /* space between left and right sections */
  background-color: #1674cc;
  color: white; /* text color */
  padding: 10px 10px; /* padding around the header */
}

.header-left {
  flex: 1; /* Allow the left section to take available space */
  padding: 5px;
}

.header-right {
  display: flex;
}

.header-right ul {
  padding: 0; /* remove default padding */
  margin: 0; /* remove default margin */
}

.header-right li {
  margin-left: 20px; /* space between links */
  list-style-type: none; /* remove bullet points */
}

.header-right li a {
  color: #fff; /* link color */
  text-decoration: none; /* remove underline */
}

.header-right a:hover {
  text-decoration: underline; /* underline on over */
}

.contact-greetings {
  text-align: center;
  background-color: hwb(357 44% 33%);
  color: white; /* text color */
  height: 5vh;
  padding: 30px;
  margin: 0;
}

.grid-contact-details {
  gap: 10px;
  width: 90%;
  height: 50vh;
  flex: 1;

  padding: 30px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.contact-details-section {
  text-align: center;
  grid-column: 1;
  grid-row: 1 / span 1; 
}

.form-details-section {
  text-align: left;
  grid-column: 2;
  grid-row: 1 / span 1; 
}

.footer {
  background-color: #000305;
  color: #fff;
  text-align: center;
  padding: 10px;
}