.header-banner {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.header-banner__banner-image {
  width: 95%;
  height: auto;
  max-height: 15vh; /* Constrain height on all screens */
  display: block;
  object-fit: contain;
}

.header-latest-projects-page {
  display: flex; /* Enable Flexbox */
  justify-content: center;
  align-items: center;
  padding: 10px 0; /* padding around the header */
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-style: bold;

  &__ul {
    display: flex;
    flex: auto; /* Prevents it from growing or shrinking */
  }

  &__li {
    margin-left: 15vw; /* space between links */
    list-style-type: none; /* remove bullet points */
  }

  &__anchor {
    color: #0b3775;
    font-weight: bold;
    margin-left: 5px; /* space between links */
    list-style-type: none; /* remove bullet points */
    font-size: 40px;
    
    &:hover {
      color: #072755;
      background-color: rgb(231, 231, 211);
    }
  }
}


@media (max-width: 768px) {
  .header-latest-projects-page__ul {
    flex-direction: column;
    align-items: center;
  }

  .header-latest-projects-page__li {
    margin: 10px;
  }

  .header-latest-projects-page__anchor {
    font-size: 20px;
  }
}